TOKEN=COLOQUE_O_TOKEN_DO_BOT
CLIENT_ID=ID_DO_BOT
GUILD_ID=ID_DO_SERVIDOR

SS_CATEGORY_ID=ID_DA_CATEGORIA_SS
SS_LOG_CHANNEL_ID=ID_DO_CANAL_DE_LOGS

TELADOR_ROLE_ID=ID_DO_CARGO_TELADOR
ADMIN_ROLE_ID=ID_DO_CARGO_ADMIN
